@import "tailwindcss";
.container {
    width: 100%;
    max-width: 2480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 279px;
    padding-right: 279px;
}

button {
    cursor: pointer;
}